<div class="container my-5">
  <div class="img-fluid mx-auto main-img"></div>
  <p class="text-center mt-3">
    Hey people!
  </p>
  <p class="text-center mb-5">
    I am Rose Gonsalves the owner and founder of Style it by Rose. Creativity is what I like and I love to make people happy with whatever I create. Creativity often begins as a spark, a curiosity, a hobby, or a moment of inspiration but through time, effort, and emotional connection, it can transform into a passion. That’s what I did, I turned my hobby into my passion. Creating jewellery was one of the best decisions I made to make people happy with my creativeness. So I created a brand where each person finds a unique piece of jewellery to match their style and vibe.
  </p>
  <h1 class="text-center">About STYLE IT BY ROSE</h1>
  <p class="text-center">
    Introducing y'all STYLE IT BY ROSE. A small business with a big heart for handmade jewellery. Our brand is built on the foundation of passion, creativity, and attention to detail. Each piece in our collection is lovingly handcrafted with care, ensuring that every customer receives a unique and personalized treasure.
  </p>
  <p class="text-center">
    Going for a street style look? Style it by Rose got you covered to complete your outfit and got everything you need to elevate your wardrobe with the most unique collection of jewellery. Explore our collection and find the perfect piece that resonates with your unique style.
  </p>
  <p class="text-center">
    We believe that everyone deserves to sparkle without emptying their wallet. Every jewellery you come across on our website is at an affordable price, so you don't need to break your bank account to purchase it.
  </p>
  <p class="text-center">
    We’ve made shopping with us easy and secure. Have fun shopping, and thank you for choosing us as your fashion destination!
  </p>
</div>
