<div class="container my-5">
  <h1 class="text-center">About STYLE IT BY ROSE</h1>
  <p>
    Hey people!
  </p>
  <p>
    Introducing y'all STYLE IT BY ROSE. A small business with a big heart for handmade jewellery. Our brand is built on the foundation of passion, creativity, and attention to detail. Each piece in our collection is lovingly handcrafted with care, ensuring that every customer receives a unique and personalized treasure.
  </p>
  <p>
    Going for a street style look? Style it by Rose got you covered to complete your outfit and got everything you need to elevate your wardrobe with the most unique collection of jewellery. Explore our collection and find the perfect piece that resonates with your unique style.
  </p>
  <p>
    We believe that everyone deserves to sparkle without emptying their wallet. Every jewellery you come across on our website is at an affordable price, so you don't need to break your bank account to purchase it.
  </p>
  <p>
    We’ve made shopping with us easy and secure. Have fun shopping, and thank you for choosing us as your fashion destination!
  </p>
</div>
