<div class="container my-5">
  <h1 class="text-center my-4">Privacy Policy</h1>
  <p>This Privacy Policy describes how Style it by Rose collects, uses, and discloses personal information when you visit and make a purchase from our website</p>

  <ol>
    <li class="my-4">
      <h4 class="mb-0">Information We Collect</h4>
      <ul>
        <li><strong>Personal Information: </strong>When you place an order or register for an account, we collect personal information such as your name, email address, shipping address, and payment information.</li>
        <li><strong>Communications: </strong>We may collect information when you communicate with us via email, phone, or through our website, including inquiries and feedback.</li>
        <li><strong>Website Usage Data: </strong>We automatically collect certain information about your device and how you interact with our website, such as your IP address, browser type, referring/exit pages, and operating system.</li>
      </ul>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Use of Information</h4>
      <ul>
        <li><strong>To Process Your Orders: </strong>We use your personal information to process and fulfil your orders, including shipping and payment processing.</li>
        <li><strong>Customer Support: </strong>We use your information to respond to your inquiries, provide customer support, and communicate with you about your orders.</li>
        <li><strong>Marketing: </strong>With your consent, we may send you marketing communications about our products, promotions, or updates. You can opt-out of these communications at any time.</li>
        <li><strong>Improvement of Services: </strong>We use information to analyze trends, monitor the usage of our website, and improve our products and services.</li>
      </ul>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Sharing of Information</h4>
      <ul>
        <li><strong>Service Providers: </strong>We may share your information with third-party service providers who assist us in operating our website, conducting our business, or servicing you, such as shipping carriers and payment processors.</li>
        <li><strong>Legal Compliance: </strong>We may disclose your information when required by law or to protect our rights and interests or those of others.</li>
      </ul>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Security</h4>
      <div class="ps-4">
        We implement reasonable security measures to protect your personal information and strive to maintain the security of our systems. However, no method of transmission over the internet or electronic storage is completely secure.
      </div>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Your Rights</h4>
      <div class="ps-4">
        You have the right to access, correct, or delete your personal information. You may also object to the processing of your personal data in certain circumstances.
      </div>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Data Retention</h4>
      <div class="ps-4">
        We retain your personal information only for as long as necessary to fulfill the purposes outlined in this Privacy Policy unless a longer retention period is required or permitted by law.
      </div>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Third-Party Links</h4>
      <div class="ps-4">
        Our website may contain links to third-party websites. We are not responsible for the privacy practices or content of these third-party sites.
      </div>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Children's Privacy</h4>
      <div class="ps-4">
        Our website is not directed to individuals under the age of 18. We do not knowingly collect personal information from children.
      </div>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Changes to This Privacy Policy</h4>
      <div class="ps-4">
        We may update this Privacy Policy from time to time in order to reflect changes to our practices or for other operational, legal, or regulatory reasons. We will notify you of any changes by posting the new Privacy Policy on this page.
      </div>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Contact Us</h4>
      <div class="ps-4">
        If you have any questions about this Privacy Policy or our practices, please contact us via email at <a href="mailto:styleitbyrose@gmail.com">styleitbyrose@gmail.com</a>
      </div>
    </li>

  </ol>

  <p>By using our website you agree to the collection and use of information as described in this Privacy Policy. Please read this policy carefully before providing any personal information through our website.</p>
</div>
