.primary-img {
  height: 32em;
  width: 32em;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-color: whitesmoke;
}

.secondary-img {
  height: 10em;
  width: 10em;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-color: whitesmoke;
}