.carousel-container {
  z-index: 8;
  height: 100vh;
}

.carousel-close {
  z-index: 9;
  font-size: 1.5em;
}

.carousel-img {
  height: 52em;
  width: 52em;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: contain;
  background-color: whitesmoke;
}

.primary-img {
  height: 32em;
  width: 32em;
  cursor: zoom-in;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-color: whitesmoke;
}

.secondary-img {
  height: 10em;
  width: 10em;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-color: whitesmoke;
}

.edit-product {
  font-size: 1.2em;
}