.primary-img {
  height: 512px;
  width: 512px;
  cursor: zoom-in;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-color: whitesmoke;
}

.secondary-img {
  height: 160px;
  width: 160px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-color: whitesmoke;
}

.edit-product,
.delete-product {
  font-size: 1.2em;
}