<div class="container px-4 px-lg-5 my-5">
  <!-- Product section-->
  <section class="py-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-xl-7">

        <div class="d-flex flex-column-reverse flex-xl-row">
          <div class="d-flex flex-row flex-xl-column me-xl-3 mt-3 mt-xl-0">
            <!-- Secondary Images -->
            <div class="img-fluid border border-4 mb-3 me-3 me-xl-0 secondary-img"
                 *ngFor="let image of product.images; let i = index;"
                 [style.backgroundImage]="getImagePath(image.url)"
                 (click)="setAsDisplayImage(image)"
                 [class.border-info]="isImageDisplayed(image)">
            </div>
          </div>

          <!-- Primary Image -->
          <div class="img-fluid border border-4 border-info primary-img"
               [style.backgroundImage]="getImagePath(product.displayImage.url)"></div>
        </div>
      </div>
      <div class="col-xl-5">
        <div class="small mb-1">
            {{ product._id }}
        </div>
        <h1 class="display-5 fw-bolder">
            {{ product.name }}
        </h1>
        <div class="fs-5 mb-5">
            <span>
                ₹{{ product.price }}
            </span>
        </div>
        <p class="lead">
            {{ product.description }}
        </p>
        <div class="d-flex">
          <input class="form-control text-center me-3"
                 id="inputQuantity"
                 type="number"
                 value="1"
                 min="1"
                 [max]="product.quantityInStock"
                 style="max-width: 3rem"/>
          <button class="btn btn-outline-primary flex-shrink-0">
              Add to cart
          </button>
        </div>
      </div>
    </div>
  </section>


  <!-- Related items section-->
  <section class="my-5"
           *ngIf="product.similarProducts.length">
    <h2>Related products</h2>
    <div class="row gy-4 my-2">
      <div class="col-md-6 col-lg-4"
          *ngFor="let product of product.similarProducts; let i = index;">
          <app-product-item [product]="product"></app-product-item>   
      </div>
    </div>
  </section>
</div>
