<!-- Zoom-in carousel -->
<app-product-image-carousel [(isCarouselOpen)]="isCarouselOpen"
                            [carouselDisplayImage]="carouselDisplayImage"
                            [carouselImages]="carouselImages"></app-product-image-carousel>

<!-- Primary content -->
<div class="container px-4 px-lg-5 my-5">
  <!-- Product section-->
  <section class="py-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-xl-7">

        <div class="d-flex flex-column-reverse flex-xl-row">
          <div class="d-flex flex-row flex-xl-column me-xl-3 mt-3 mt-xl-0">
            <!-- Secondary Images -->
            <div class="img-fluid border border-2 mb-3 me-3 me-xl-0 cursor-pointer secondary-img"
                 *ngFor="let image of product.images; let i = index;"
                 [style.backgroundImage]="image.url | backgroundImage"
                 (click)="setAsDisplayImage(image)"
                 [class.border-info]="isImageDisplayed(image)">
            </div>
          </div>

          <!-- Primary Image -->
          <div class="img-fluid border border-2 border-info primary-img"
               (click)="openCarousel()"
               [style.backgroundImage]="product.displayImage.url | backgroundImage"></div>
        </div>
      </div>
      <div class="col-xl-5">
        <h1 class="display-5 fw-bolder">
            {{ product.name }}
        </h1>
        <div class="mb-5">
          <span *ngIf="isDiscountAvailable"
                class="text-muted text-decoration-line-through">
            {{ product.maxRetailPrice | inr }}
          </span>
          <span class="ms-2 fs-4">
            {{ product.sellingPrice | inr }}
          </span>
          <small *ngIf="isDiscountAvailable"
                class="text-danger">
            {{ discountPercentage }}
          </small>
        </div>
        <p class="lead">
            {{ product.description }}
        </p>
        
        
        <div class="input-group mt-4"
             *ngIf="isProductCustomizable">
          <input type="text"
                 placeholder="Custom Text"
                 class="form-control"
                 id="custom-text"
                 [ngClass]="customTextValidationClasses"
                 [formControl]="customizationTextFC">
          <button class="btn btn-info"
                  [disabled]="!canUpdateCustomizationText"
                  (click)="updateCustomizationText()">
            Update
          </button>
        </div>
        <ng-container *ngIf="isCustomTextEdited">
          <small class="text-danger"
                  *ngIf="customizationTextFC.errors?.['required']">Custom text is required</small>
          <small class="text-danger"
                  *ngIf="customizationTextFC.errors?.['pattern']">A-Z & 0-9 are only allowed</small>
          <small class="text-danger"
                  *ngIf="customizationTextFC.errors?.['minlength']">
            Minimum length is {{ product.customizationTextRange.min }}
          </small>
          <small class="text-danger"
                  *ngIf="customizationTextFC.errors?.['maxlength']">
            Maximum length is {{ product.customizationTextRange.max }}
          </small>
        </ng-container>
      
        <div class="d-flex my-4">
          <ng-container *ngIf="!isProductOutOfStock; else outOfStock">
            <ng-container *ngIf="productQtyInCart < 1; else qtyController">
              <button class="btn btn-outline-primary"
                      [disabled]="!isProductAddable"
                      (click)="addProduct(1)">
                  Add to Cart
              </button>
            </ng-container>
            <ng-template #qtyController>
              <app-product-qty-controller [qty]="productQtyInCart"
                                          (add)="addProduct($event)"
                                          (subtract)="subtractProduct($event)">
              </app-product-qty-controller>
            </ng-template>
          </ng-container>
          <ng-template #outOfStock>
            <button class="btn btn-outline-warning disabled">
                Out of Stock
            </button>
          </ng-template>

          <button class="btn btn-link px-2 mx-2 edit-product"
                  *ngIf="canEditProduct"
                  (click)="editProduct()">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>

          <button class="btn btn-link px-2 mx-2 delete-product"
                  *ngIf="canDeleteProduct"
                  (click)="deleteProduct()">
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </div>
      </div>
    </div>
  </section>


  <!-- Related items section-->
  <section class="my-5"
           *ngIf="product.similarProducts.length">
    <h2>Related products</h2>
    <div class="row gy-4 my-2">
      <div class="col-md-6 col-lg-4"
          *ngFor="let product of product.similarProducts; let i = index;">
          <app-product-item [product]="product"
                            (addToCart)="addSimilarProductToCart($event)"></app-product-item>   
      </div>
    </div>
  </section>
</div>
