<div class="container my-5">
  <form class="needs-validation"
        [formGroup]="basicDetailsFG"
        (ngSubmit)="submit()">
    <div class="row my-2">
      <!-- Name -->
      <div class="col-12 col-xl-3 mb-2 mb-xl-0 form-group">
        <label for="name" class="form-label">Name:</label>
        <input type="text"
               class="form-control"
               id="name"
               [ngClass]="getInputValidationClasses('name')"
               [formControl]="nameFC">
        <ng-container *ngIf="isInputValid('name')">
          <small class="text-danger"
                  *ngIf="nameFC.errors?.['required']">
            Name is required
          </small>
        </ng-container>
      </div>

      <!-- Quantity in stock -->
      <div class="col-12 col-xl-3 form-group">
        <label for="qty-in-stock" class="form-label">Quantity in Stock:</label>
        <input type="number"
               class="form-control"
               id="qty-in-stock"
               [ngClass]="getInputValidationClasses('quantityInStock')"
               [formControl]="qtyInStockFC">
        <ng-container *ngIf="isInputValid('quantityInStock')">
          <small class="text-danger"
                  *ngIf="qtyInStockFC.errors?.['required']">
            Quantity is required
          </small>
        </ng-container>
      </div>
    </div>

    <!-- Descripton -->
    <div class="row my-2">
      <div class="col-12 col-xl-6 form-group">
        <label for="description" class="form-label">Description:</label>
        <textarea class="form-control"
                  cols="30"
                  rows="6"
                  id="description"
                  [ngClass]="getInputValidationClasses('description')"
                  [formControl]="descriptionFC">
        </textarea>
        <ng-container *ngIf="isInputValid('description')">
        <small class="text-danger"
                *ngIf="descriptionFC.errors?.['required']">
          Description is required
        </small>
        </ng-container>
      </div>
    </div>


    <div class="row my-2">
      <!-- Max retail Price -->
      <div class="col-12 col-xl-3 form-group">
        <label for="mrp" class="form-label">Max Price</label>
        <input type="number"
               class="form-control"
               id="mrp"
               [ngClass]="getInputValidationClasses('maxRetailPrice')"
               [formControl]="maxRetailPriceFC">
        <ng-container *ngIf="isInputValid('maxRetailPrice')">
          <small class="text-danger"
                  *ngIf="maxRetailPriceFC.errors?.['required']">
            Max Price is required
          </small>
        </ng-container>
      </div>

      <!-- Selling Price -->
      <div class="col-12 col-xl-3 form-group">
        <label for="selling-price" class="form-label">Selling Price</label>
        <input type="number"
               class="form-control"
               id="selling-price"
               [ngClass]="getInputValidationClasses('sellingPrice')"
               [formControl]="sellingPriceFC">
        <ng-container *ngIf="isInputValid('sellingPrice')">
          <small class="text-danger"
                  *ngIf="sellingPriceFC.errors?.['required']">
            Selling Price is required
          </small>
        </ng-container>
      </div>
    </div>

    <div class="row my-2">
      <!-- Category -->
      <div class="col-12 col-xl-6 mb-2 mb-xl-0 form-group">
        <label for="category" class="form-label">Category</label>
        <select class="form-select"
                id="category"
                [ngClass]="getInputValidationClasses('category')"
                [formControl]="categoryFC">
          <option value=""
                  disabled>
            Select category
          </option>
          <option *ngFor="let category of categories"
                  [value]="category">
            {{ category | capitalize:'_' }}
          </option>
        </select>
        <ng-container *ngIf="isInputValid('category')">
          <small class="text-danger"
                  *ngIf="categoryFC.errors?.['required']">
            Category required
          </small>
        </ng-container>
      </div>
    </div>

    <div class="row my-2">
      <!-- Min Cusomization Text Length -->
      <div class="col-12 col-xl-3 form-group">
        <label for="min-ctl" class="form-label">Min CTL</label>
        <input type="number"
               class="form-control"
               id="min-ctl"
               [ngClass]="getInputValidationClasses('minCustomizationTextLength')"
               [formControl]="minCustomizationTextLengthFC">
        <ng-container *ngIf="isInputValid('minCustomizationTextLength')">
          <small class="text-danger"
                  *ngIf="minCustomizationTextLengthFC.errors?.['required']">
            Min length is required
          </small>
        </ng-container>
      </div>

      <!-- Max Cusomization Text Length -->
      <div class="col-12 col-xl-3 form-group">
        <label for="max-ctl" class="form-label">Max CTL</label>
        <input type="number"
               class="form-control"
               id="max-ctl"
               [ngClass]="getInputValidationClasses('maxCustomizationTextLength')"
               [formControl]="maxCustomizationTextLengthFC">
        <ng-container *ngIf="isInputValid('maxCustomizationTextLength')">
          <small class="text-danger"
                  *ngIf="minCustomizationTextLengthFC.errors?.['required']">
            Max Length is required
          </small>
        </ng-container>
      </div>
    </div>

    <!-- Is pinned -->
    <div class="row my-3">
      <div class="col-6 form-group">
        <input type="checkbox"
                class="form-check-input me-1"
                [ngClass]="getInputValidationClasses('isPinned')"
                [formControl]="isPinnedFC"
                id="pin">
        <label class="form-check-label" for="pin">
          Pin product
        </label>
      </div>
    </div>

    <div class="d-flex">
      <button class="btn btn-primary"
              type="submit"
              [disabled]="basicDetailsFG.invalid">
        Submit
      </button>
  
      <button class="btn btn-danger ms-1"
              type="button"
              (click)="resetForm()">
        Reset
      </button>
    </div>
  </form>
</div>
