<app-product-image-carousel [(isCarouselOpen)]="isCarouselOpen"
                            [carouselDisplayImage]="carouselDisplayImage"
                            [carouselImages]="carouselImages"></app-product-image-carousel>

<div class="container">
  <div class="row my-4">
    <div class="col">
      <input type="file"
             class="d-none"
             (change)="onFileSelected($event)"
             #fileUpload>
    
      <button class="btn btn-primary btn-lg file-upload"
              type="button"
              (click)="fileUpload.click()"
              [disabled]="images.length === 3">
        <i class="fa-solid fa-file-arrow-down"></i>
        <span>&nbsp;Upload image</span>
      </button>
    </div>
  </div>

  <div class="row my-4">
    <div class="col"
         cdkDropListGroup>
      <div class="d-inline-flex border p-2 image-list"
           cdkDropList
           cdkDropListOrientation="horizontal"
           [cdkDropListData]="images"
           (cdkDropListDropped)="imageDrop($event)">
        <div class="img-fluid border image"
             cdkDrag
             *ngFor="let image of images; let i = index;"
             [style.backgroundImage]="image.url | backgroundImage">
          <span class="position-absolute top-0 end-0 p-1">
            <i class="fa-solid fa-magnifying-glass-plus text-white me-2 cursor-pointer"
               (click)="openCarousel(image)"></i>
            <i class="fas fa-trash fa-lg text-danger cursor-pointer"
               (click)="deleteImage(i)"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col d-flex">
      <button class="btn btn-primary"
              type="button"
              [disabled]="!areImagesShuffled"
              (click)="updateImageOrder()">
        Submit
      </button>
  
      <button class="btn btn-danger ms-1"
              type="button"
              [disabled]="!areImagesShuffled"
              (click)="resetImageOrder()">
        Reset
      </button>
    </div>
  </div>
</div>