<div class="container my-5">
  <h1 class="text-center my-4">Terms & Conditions</h1>

  <p>Welcome to Style it by Rose! Before you start exploring our beautiful jewellery, please take a moment to review our terms and conditions. These terms and conditions outline the rules and regulations for the use of our website and the purchase of our handmade jewellery products.</p>

  <ol>
    <li class="my-4">
      <h4 class="mb-0">Definitions</h4>
      <ul>
        <li>"Customer", "You" and "Your" refers to you, the person accessing this website and accepting the Style it by Rose terms and conditions.</li>
        <li>"The Brand", "Ourselves", "We", "Our" and "Us", refers to Style it by Rose.</li>
        <li>"Party", "Parties", or "Us", refers to both the Customer and ourselves, or either the Customer or ourselves.</li>
      </ul>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Acceptance of Terms</h4>
      <div class="ps-4">
        By accessing this website, we assume you accept these terms and conditions in full. Do not continue to use our website if you do not accept all of the terms and conditions stated on this page.
      </div>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Orders</h4>
      <div class="ps-4">
        By placing an order through our website, you confirm that you are legally capable of entering into binding contracts. Orders are subject to availability. In the event of unavailability, we will notify you and provide alternatives or a refund. We reserve the right to refuse or cancel any order for any reason, including limitations on quantities available for purchase or inaccuracies or errors in product or pricing information.
      </div>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Pricing and Payment</h4>
      <ul>
        <li>All prices are in Rupees.</li>
        <li>Payment is due at the time of ordering. We accept all kinds of online payments available in this country.</li>
        <li>Prices are subject to change without notice, but changes will not affect orders which we have already accepted.</li>
      </ul>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Restrictions</h4>
      <div class="ps-4">
        You are specifically restricted from all of the following:
        <ul>
          <li>Publishing any Website material in any other media without prior written consent.</li>
          <li>Selling, sub-licensing, and/or otherwise commercializing any Website material.</li>
          <li>Using the Website in any way that is or may be damaging to the Website.</li>
          <li>Using the Website contrary to applicable laws and regulations, or in a way that causes, or may cause, harm to the Website, or to any person or business entity.</li>
        </ul>
      </div>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Privacy Policy</h4>
      <div class="ps-4">
        Your privacy is important to us. Please review our <a routerLink="/policy/privacy">Privacy Policy</a> page to understand how we collect, use, and protect your personal information.
      </div>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Shipping/Refund Policy</h4>
      <div class="ps-4">
        Please refer to our <a routerLink="/policy/shipping">Shipping Policy</a> and <a routerLink="/policy/return">Refund Policy</a> information for details to understand how we ship the orders and in case of any problem in the received products how do we provide Refund or exchange and on what conditions.
      </div>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Intellectual Property</h4>
      <div class="ps-4">
        All content on this website, including images, designs, logos, and text, is the property of Style it by Rose and protected by copyright laws. You may not reproduce, distribute, display, or sell any content without our express written permission.
      </div>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Changes to Terms and Conditions</h4>
      <ul>
        <li>We reserve the right to modify these Terms and Conditions at any time. Changes will be effective immediately upon posting on the website.</li>
        <li>Continued use of the website after any changes shall constitute your consent to such changes.</li>
      </ul>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Contact Us</h4>
      <div class="ps-4">
        If you have any questions about these Terms and Conditions, please contact us via email at <a href="mailto:styleitbyrose@gmail.com">styleitbyrose@gmail.com</a>.
      </div>
    </li>

  </ol>

  <p>By using our website, you agree to these Terms and Conditions. Please read them carefully before making.</p>
</div>
