<div class="bg-primary">
  <div class="text-light py-2 d-flex justify-content-center pb-0 company-name">
    <span class="pt-4 part-1">{{ COMPANY_NAME.part1.toUpperCase() }}&nbsp;</span>
    <span class="part-2">{{ COMPANY_NAME.part2 }}</span>
  </div>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-primary pt-0">
    <div class="container-fluid justify-content-end">
      <button class="navbar-toggler"
              type="button"
              [class.collapsed]="!isNavbarExpanded"
              (click)="toggleNavbarExpansion()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"
           [class.show]="isNavbarExpanded">
        <!-- Primary nav items-->
        <ul class="navbar-nav me-auto my-2 my-lg-0 nav-primary">
          <li class="nav-item">
            <a class="nav-link cursor-pointer"
               (click)="navigate(['/home'])"
               [class.active]="isRouterLinkActive('/home')">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursor-pointer"
               (click)="navigate(['/customization'])"
               [class.active]="isRouterLinkActive('/customization')">Customization</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursor-pointer"
               (click)="navigate(['/stall-schedules'])"
               [class.active]="isRouterLinkActive('/stall-schedules')">Pop-up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursor-pointer"
               (click)="navigate(['/about'])"
               [class.active]="isRouterLinkActive('/about')">About us</a>
          </li>
        </ul>
  
        <!-- Secondary nav items -->
        <ul class="navbar-nav ms-auto my-2 my-lg-0 nav-secondary">
          <li class="nav-item p-2"
              *ngIf="canCreateProduct">
            <i class="fa-solid fa-folder-plus nav-link position-relative cursor-pointer"
               (click)="navigate(['products', 'create'])"
               [class.active]="isRouterLinkActive('/products/create')"></i>
          </li>
          <li class="nav-item p-2">
            <i class="fa-solid fa-magnifying-glass nav-link cursor-pointer"
               (click)="openSearch()"></i>
          </li>
          <li class="nav-item p-2">
            <i class="fas fa-shopping-cart nav-link position-relative cursor-pointer"
               (click)="navigate(['/cart'])"
               [class.active]="isRouterLinkActive('/cart')">
              <span class="position-absolute top-0 start-40 translate-middle badge rounded-pill bg-danger">
                {{ numberOfItemsInCart }}
              </span>
            </i>
          </li>
          <li class="nav-item p-2">
            <i class="fa-solid fa-user nav-link cursor-pointer"
               (click)="navigate(['/auth'])"
               [class.active]="isRouterLinkActive('/auth') || isRouterLinkActive('/my-profile')"></i>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- Search -->
<div class="container-fluid bg-light bg-opacity-75 position-fixed top-0 start-0 d-flex justify-content-center align-items-center search-container"
     *ngIf="isSearchOpen"
     (click)="closeSearch()">
  <app-search (search)="onSearch($event)"
              [isInputLarge]="true"
              [reset]="true"></app-search>
</div>
