.company-name {
  .part-1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: bold;
  }
  .part-2 {
    font-family: 'WindSong', cursive;
    font-size: 5em;
  }
}

@media (max-width: 400px) {
  .company-name {
    .part-2 {
      font-size: 3em;
    }
  }
}

.search-container {
  z-index: 10;
  height: 100vh;
  * {
    width: 80em;
  }
}
