<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Style it by Rose</a>
    <button class="navbar-toggler"
            type="button"
            [class.collapsed]="!isNavbarExpanded"
            (click)="toggleNavbarExpansion()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         [class.show]="isNavbarExpanded">
      <!-- Primary nav items-->
      <ul class="navbar-nav me-auto my-2 my-lg-0 nav-primary">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/home"
             routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/customization"
             routerLinkActive="active">Customization</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/pop-up"
             routerLinkActive="active">Pop-up</a>
        </li>
      </ul>

      <!-- Secondary nav items -->
      <ul class="navbar-nav ms-auto my-2 my-lg-0 nav-secondary">
        <li class="nav-link">
          <i class="fas fa-shopping-cart nav-link position-relative"
             routerLink="/cart"
             routerLinkActive="active">
            <span class="position-absolute top-0 start-40 translate-middle badge rounded-pill bg-danger">
              {{ numberOfItemsInCart }}
            </span>
          </i>
        </li>
        <li class="nav-link">
          <i class="fa-solid fa-user nav-link"
             routerLink="/auth"
             routerLinkActive="text-light"></i>
        </li>
      </ul>
    </div>
  </div>
</nav>
