<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">Style it by Rose</a>
    <button class="navbar-toggler"
            type="button"
            [class.collapsed]="!isNavbarExpanded"
            (click)="toggleNavbarExpansion()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         [class.show]="isNavbarExpanded">
      <!-- Primary nav items-->
      <ul class="navbar-nav me-auto my-2 my-lg-0 nav-primary">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/home"
             routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/customization"
             routerLinkActive="active">Customization</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/pop-up"
             routerLinkActive="active">Pop-up</a>
        </li>
      </ul>

      <!-- Secondary nav items -->
      <ul class="navbar-nav ms-auto my-2 my-lg-0 nav-secondary">
        <li class="nav-item p-2"
            *ngIf="canCreateProduct">
          <i class="fa-solid fa-folder-plus nav-link position-relative cursor-pointer"
             [routerLink]="['products', 'create']"
             routerLinkActive="active"></i>
        </li>
        <li class="nav-item p-2">
          <i class="fa-solid fa-magnifying-glass nav-link cursor-pointer"
             (click)="openSearch()"></i>
        </li>
        <li class="nav-item p-2">
          <i class="fas fa-shopping-cart nav-link position-relative cursor-pointer"
             routerLink="/cart"
             routerLinkActive="active">
            <span class="position-absolute top-0 start-40 translate-middle badge rounded-pill bg-danger">
              {{ numberOfItemsInCart }}
            </span>
          </i>
        </li>
        <li class="nav-item p-2">
          <i class="fa-solid fa-user nav-link cursor-pointer"
             routerLink="/auth"
             routerLinkActive="active"></i>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Search -->
<div class="container-fluid bg-light bg-opacity-75 position-fixed top-0 start-0 d-flex justify-content-center align-items-center search-container"
     *ngIf="isSearchOpen"
     (click)="closeSearch()">
  <app-search (search)="onSearch($event)"
              [reset]="true"></app-search>
</div>
