<div class="position-relative mx-auto border product-card"
     (mouseenter)="changeDisplayImage(product)"
     (mouseleave)="resetDisplayImage(product)"
     (click)="viewProduct()">
  <div class="badge bg-info text-white position-absolute product-card-badge">
    {{ capitalizedCategoryName }}
  </div>
  <div class="img-fluid product-card-img"
       [style.backgroundImage]="displayImagePath">
  </div>
  <div class="card-body d-flex flex-column justify-content-end align-items-center p-4 product-card-body">
    <h5 class="card-title">
      <strong>
        {{ product.name }}
      </strong>
    </h5>
    <p class="card-subtitle mb-2 text-muted">
      ₹{{ product.price }}
    </p>
    <div class="btn btn-outline-primary"
         (click)="addProductToCard($event)">
      Add to cart
    </div>
  </div>
</div>
