.product-card {
  $height: 26em;
  $width: calc($height / 1.4);
  $img-height-percent: 0.6;
  width: $width;
  height: $height;
  overflow: hidden;
  cursor: pointer;

  .product-card-badge {
    top: 0.5rem;
    right: 0.5rem;
  }

  .product-card-img {
    width: 100%;
    height: $img-height-percent * $height;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background-color: whitesmoke;
  }

  .product-card-body {
    width: 100%;
    height: (1 - $img-height-percent) * $height;
  }
}
