.cart-image {
  height: 10em;
  width: 10em;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-color: whitesmoke;
}