<div class="card rounded-3 mb-4 cursor-pointer"
     (click)="viewProduct()">
  <div class="card-body p-4">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-md-2 col-lg-2 col-xl-2">
        <div
          [style.backgroundImage]="cartItem.product.displayImage.url | backgroundImage"
          class="img-fluid rounded-3 cart-image">
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3">
        <p class="lead fw-normal mb-2">{{ cartItem.product.name }}</p>
        <p class="text-truncate">{{ cartItem.product.description }}</p>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-2">
        <app-product-qty-controller [qty]="cartItem.qtyInCart"
                                    (add)="addProduct($event)"
                                    (subtract)="subtractProduct($event)">
        </app-product-qty-controller>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
        <h5 class="mb-0">₹{{ cartItem.product.price * cartItem.qtyInCart }}</h5>
      </div>
      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
        <span class="text-danger cursor-pointer"
              (click)="removeProduct($event)">
          <i class="fas fa-trash fa-lg"></i>
        </span>
      </div>
    </div>
  </div>
</div>