.ordered-product-image {
  height: 8em;
  width: 15em;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-color: whitesmoke;
}
