<div class="container">
  <div class="row my-4">
    <!-- Search -->
    <div class="col-5">
      <app-search (search)="onSearch($event)"
                  [reset]="false"></app-search>
    </div>
  </div>

  <!-- Push & Pull -->
  <app-push-and-pull [paginator]="pagination"
                     [assigned]="product.similarProducts"
                     [itemUnderEdit]="product"
                     (page)="goToPage($event)"
                     (update)="onUpdate($event)">
  </app-push-and-pull>
</div>
