<div class="position-relative mx-auto border cursor-pointer category-card-container">
  <div class="img-fluid d-flex flex-column align-items-center justify-content-center category-card"
       [style.backgroundImage]="('/assets/images/categories/category-' + categoryName + '.jpg') | backgroundImage"
       (click)="onClickCard()"></div>
  <button class="btn btn-primary position-absolute top-50 start-50 translate-middle"
          [class.btn-sm]="isSmallScreenReached"
          (click)="onClickCard()">
      {{ categoryName | capitalize:'_' }}
  </button>
</div>