<section class="h-100">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <h3 class="fw-normal mb-4">Shopping Cart</h3>

        <app-cart-item *ngFor="let cartItem of cartList; let i = index;"
                       [cartItem]="cartItem">
        </app-cart-item>

        <ng-container>
          <div class="row">
            <div class="col-12">
              <input type="checkbox"
                     class="form-check-input me-1"
                     [(ngModel)]="isSelfPickup"
                     id="self-pickup">
              <label class="form-check-label" for="self-pickup">
                Self pickup
              </label>
            </div>
            <div class="col-3 ms-auto">
              <h5 class="d-flex justify-content-between">
                <span>Subtotal:-</span>
                <span>₹{{ totalProductPrice }}</span>
              </h5>
              <h5 class="d-flex justify-content-between">
                <span>Shipping:-</span>
                <span>₹{{ shippingCharge }}</span>
              </h5>
              <h4 class="d-flex justify-content-between">
                <span>Total:-</span>
                <span>₹{{ totalAmount }}</span>
              </h4>
            </div>
          </div>

        </ng-container>

        <div class="d-grid my-5">
          <button class="btn btn-warning btn-lg"
                  [disabled]="isCartEmpty"
                  (click)="placeOrder()">
            Proceed to Pay
          </button>
        </div>

      </div>
    </div>
  </div>
</section>