<div class="row gy-4 my-2">
  <ng-container *ngIf="(paginator.totalPages > 0); else emptyData;">
    <div class="col-md-6 col-lg-4"
         *ngFor="let product of paginator.content; let i = index;">
        <app-product-item [product]="product"
                          (addToCart)="addProductToCart(product)"></app-product-item>   
    </div>
  </ng-container>

  <ng-template #emptyData>
    <h5 class="col-12 text-center">
      No products found
    </h5>
  </ng-template>

  <app-pagination-controller [paginator]="paginator"
                             [pageLimit]="pageLimit"
                             [scrollToTop]="scrollToTop"
                             (page)="goToPage($event)"></app-pagination-controller>
</div>