<div class="row gy-4 my-2">
  <ng-container *ngIf="(paginator.totalPages > 0); else emptyData;">
    <div class="col-md-6 col-lg-4"
         *ngFor="let product of paginator.content; let i = index;">
        <app-product-item [product]="product"
                          (addToCart)="addProductToCard(product)"></app-product-item>   
    </div>
  </ng-container>

  <ng-template #emptyData>
    <h5 class="col-12 text-center">
      No products found
    </h5>
  </ng-template>

  <div class="d-flex justify-content-end align-items-center col-12">
    <div class="fw-lighter">
      {{ pageIndicator }}
    </div>
    <nav>
      <ul class="pagination pagination-lg m-0">
        <li class="page-item"
            title="First"
            [ngClass]="{
              'disabled cursor-disabled': isFirstPage,
              'cursor-pointer': !isFirstPage
            }"
            (click)="goToFirstPage()">
          <a class="page-link">
            <i class="bi bi-chevron-bar-left"></i>
          </a>
        </li>
        <li class="page-item"
            title="Previous"
            [ngClass]="{
              'disabled cursor-disabled': isFirstPage,
              'cursor-pointer': !isFirstPage
            }"
            (click)="goToPreviousPage()">
          <a class="page-link">
            <i class="bi bi-chevron-left"></i>
          </a>
        </li>
        <li class="page-item"
            title="Next"
            [ngClass]="{
              'disabled cursor-disabled': isLastPage,
              'cursor-pointer': !isLastPage
            }"
            (click)="goToNextPage()">
          <a class="page-link">
            <i class="bi bi-chevron-right"></i>
          </a>
        </li>
        <li class="page-item"
            title="Last"
            [ngClass]="{
              'disabled cursor-disabled': isLastPage,
              'cursor-pointer': !isLastPage
            }"
            (click)="goToLastPage()">
          <a class="page-link">
            <i class="bi bi-chevron-bar-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>