.carousel-container {
  z-index: 8;
  height: 100vh;
}

.carousel-close {
  z-index: 9;
  font-size: 1.5em;
}

.carousel-img {
  height: 800px;
  width: 800px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: contain;
  background-color: black;
}
