.carousel-container {
  z-index: 8;
  height: 100vh;
}

.carousel-close {
  z-index: 9;
  font-size: 1.5em;
}

.carousel-img {
  height: 85vh;
  width: 52em;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: contain;
  background-color: black;
}

@media (max-width: 767px) {
  .carousel-img {
    height: 70vh;
    width: 100vw;
  }
}
