<div class="container-fluid bg-black bg-opacity-75 position-fixed top-0 start-0 d-flex justify-content-center align-items-center carousel-container"
     *ngIf="isCarouselOpen">
  <span class="text-light position-absolute top-0 end-0 m-3 p-2 cursor-pointer carousel-close"
        (click)="closeCarousel()">
    <i class="bi bi-x-lg"></i>
  </span>
  <div class="carousel slide">
    <div class="carousel-inner">
      <div *ngFor="let image of carouselImages; let i = index;"
           class="img-fluid carousel-item carousel-img"
           [style.height]="carouselImageHeight"
           [style.backgroundImage]="image.url | backgroundImage"
           [class.active]="isImageDisplayed(image)">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev"
          (click)="prevImage()">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next"
          (click)="nextImage()">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>