.pnp-item {
  height: 8em;
}

.pnp-product-item-image {
  width: 8em;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-color: whitesmoke;
}