<section class="my-5 mx-5">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link cursor-pointer"
         (click)="navigate('basic-details')"
         [class.active]="isRouterLinkActive('basic-details')">
        Basic Details
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link cursor-pointer"
         (click)="navigate('images')"
         [class.active]="isRouterLinkActive('images')">
        Images
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link cursor-pointer"
         (click)="navigate('similar-products')"
         [class.active]="isRouterLinkActive('similar-products')">
        Similar Products
      </a>
    </li>
  </ul>
</section>
<router-outlet></router-outlet>