<section class="my-5 mx-5">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link"
         routerLink="basic-details"
         routerLinkActive="active">
        Basic Details
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLink="images"
         routerLinkActive="active">
        Images
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLink="similar-products"
         routerLinkActive="active">
        Similar Products
      </a>
    </li>
  </ul>
</section>
<router-outlet></router-outlet>
