<div class="container my-5">
  <h1 class="text-center my-4">Shipping Policy</h1>
  <p>Welcome to our Shipping Policy page! Here you will find all the information you need
    regarding the shipping of your jewellery orders.</p>

  <ol>
    <li class="my-4">
      <h4 class="mb-0">Processing Time</h4>
      <div class="ps-4">
        Dispatch time of our products are 2 to 4 working business days after placing an order and dispatch time of our customised jewellery are 6 to 7 working business days. During festivals days or far shipping locations it might take up-to 15 days.
      </div>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Shipping Rates</h4>
      <div class="ps-4">
        Our standard shipping cost is ₹60 all over India, Shipping charges will be added to your total bill during checkout.
      </div>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Order tracking</h4>
      <div class="ps-4">
        Once your order has been shipped, you will be provided with tracking number & tracking link, you can check out the order page on our website and click directly on the tracking link to see the status of your order.
      </div>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Options for payment</h4>
      <div class="ps-4">
        Currently we do not offer COD (cash on delivery) option on our website, payment has to be done during checkout via different online payment options provided, we accept all kind of different payment options available in the country.
      </div>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Damaged or Lost Packages</h4>
      <ul>
        <li><strong>Damaged Packages: </strong>If you receive a damaged package, please take photos & uncut opening video of the damaged items and packaging and contact us immediately for assistance.</li>
        <li><strong>Lost Packages: </strong>If your package is lost in transit, please contact us promptly. We will work with the carrier to resolve the issue.</li>
      </ul>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Shipping Address Accuracy</h4>
      <div class="ps-4">
        Please ensure that your shipping address is correct and complete. We are not responsible for orders shipped to incorrect or incomplete addresses provided by the customer.
      </div>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Shipping Restrictions</h4>
      <div class="ps-4">
        At this time, we only ship to addresses within India. Please contact us if you have any questions about shipping to your location.
      </div>
    </li>

    <li class="my-4">
      <h4 class="mb-0">Policy Updates</h4>
      <div class="ps-4">
        We reserve the right to update and modify our shipping policy as needed. Any changes will be posted on our website.
      </div>
    </li>

  </ol>

  <p>Feel free to contact us via email at <a href="mailto:styleitbyrose@gmail.com">styleitbyrose@gmail.com</a> for any other shipping queries. By placing an order with us, you agree to accept the terms of our shipping policy. Thank you for supporting our handmade jewellery business!</p>
</div>
