<div class="bg-primary text-light">
  <footer class="container">
    <div class="d-flex flex-column flex-md-row justify-content-between py-5 border-top">
      <!-- Contact -->
      <div class="mb-3">
        <h5>Contact</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <strong>Address:&nbsp;</strong>
            <span>Malwani Gate no.1, Marve Road, Malad (WEST), Mumbai-95.</span>
          </li>
          <li class="nav-item mb-2">
            <strong>Email:&nbsp;</strong>
            <span>styleitbyrose@gmail.com</span>
          </li>
          <li class="nav-item mb-2">
            <strong>Phone:&nbsp;</strong>
            <span>+91 8850774931</span>
          </li>
        </ul>
      </div>

      <div class="d-flex flex-column flex-sm-row">
        <!-- Useful Links -->
        <div class="mb-3 mx-0 mx-sm-5">
          <h5>Useful Links</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">About</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Licence</a></li>
          </ul>
        </div>

        <!-- Social Media -->
        <div class="mb-3 mx-0 mx-sm-5">
          <h5>Social Media</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="https://www.instagram.com/styleitby_rose/"
                 target="_blank"
                 class="nav-link p-0 text-light">
                <i class="fa-brands fa-instagram"></i>
                <span>
                  Instagram
                </span>
              </a>
            </li>
            <li class="nav-item mb-2">
              <a href="https://twitter.com/RoseGonsalves4"
                 class="nav-link p-0 text-light"
                 target="_blank">
                <i class="fa-brands fa-square-x-twitter"></i>
                <span>
                  Twitter
                </span>
              </a>
            </li>
            <li class="nav-item mb-2">
              <a href="https://in.pinterest.com/styleitbyrose/"
                 class="nav-link p-0 text-light"
                 target="_blank">
                <i class="fa-brands fa-pinterest"></i>
                <span>
                  Pinterest
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
  
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 border-top">
      <p>© {{ currentYear }} Style It by Rose</p>
      <p>Powered by <a class="text-secondary" href="https://github.com/ascend-ai" target="_blank">Ascend.ai</a></p>
    </div>
  </footer>
</div>