<div class="bg-primary text-light">
  <footer class="container">
    <div class="d-flex flex-column flex-md-row justify-content-between py-5 border-top">
      <!-- Contact -->
      <div class="mb-3 contacts">
        <h5>Contact</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <strong>Address:&nbsp;</strong>
            <span>Marve Road, Kharodi Village, Near Arsalans Shawarma king, Malad (W), Mumbai - 400095, Maharashtra.</span>
          </li>
          <li class="nav-item mb-2">
            <strong>Email:&nbsp;</strong>
            <span>
              <a class="text-white" href="mailto:styleitbyrose@gmail.com">styleitbyrose&#64;gmail.com</a>
            </span>
          </li>
          <li class="nav-item mb-2">
            <strong>Phone:&nbsp;</strong>
            <span>
              <a class="text-white" href="tel:+919324945633">+91 9324945633</a>
            </span>
          </li>
        </ul>
      </div>

      <div class="d-flex flex-column flex-sm-row">
        <!-- Quick Links -->
        <div class="mb-3 mx-0 mx-sm-5">
          <h5>Quick Links</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-light cursor-pointer"
                 (click)="navigate(['/about'])"
                 [class.active]="isRouterLinkActive('/home')">About us</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-light cursor-pointer"
                 (click)="navigate(['/stall-schedules'])"
                 [class.active]="isRouterLinkActive('/stall-schedules')">Pop-up</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-light cursor-pointer"
                 (click)="navigate(['/customization'])"
                 [class.active]="isRouterLinkActive('/customization')">Customization</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-light cursor-pointer"
                 (click)="navigate(['/faqs'])"
                 [class.active]="isRouterLinkActive('/faqs')">FAQs</a>
            </li>
          </ul>
        </div>

        <!-- Our Policies -->
        <div class="mb-3 mx-0 mx-sm-5">
          <h5>Our Policies</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-light cursor-pointer"
                 (click)="navigate(['/terms-and-conditions'])"
                 [class.active]="isRouterLinkActive('/terms-and-conditions')">Terms & Conditions</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-light cursor-pointer"
                 (click)="navigate(['/policy/privacy'])"
                 [class.active]="isRouterLinkActive('/policy/privacy')">Privacy Policy</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-light cursor-pointer"
                 (click)="navigate(['/policy/shipping'])"
                 [class.active]="isRouterLinkActive('/policy/shiping')">Shipping Policy</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-light cursor-pointer"
                 (click)="navigate(['/policy/return'])"
                 [class.active]="isRouterLinkActive('/policy/return')">Return Policy</a>
            </li>
          </ul>
        </div>

        <!-- Social Media -->
        <div class="mb-3 mx-0 mx-sm-5">
          <h5>Social Media</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="https://www.instagram.com/styleitby_rose/"
                 target="_blank"
                 class="nav-link p-0 text-light">
                <i class="fa-brands fa-instagram"></i>
                <span>
                  Instagram
                </span>
              </a>
            </li>
            <li class="nav-item mb-2">
              <a href="https://twitter.com/RoseGonsalves4"
                 class="nav-link p-0 text-light"
                 target="_blank">
                <i class="fa-brands fa-square-x-twitter"></i>
                <span>
                  Twitter
                </span>
              </a>
            </li>
            <li class="nav-item mb-2">
              <a href="https://in.pinterest.com/styleitbyrose/"
                 class="nav-link p-0 text-light"
                 target="_blank">
                <i class="fa-brands fa-pinterest"></i>
                <span>
                  Pinterest
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
  
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 border-top">
      <p>© {{ currentYear }} Style It by Rose</p>
      <p>Powered by <a class="text-secondary" href="https://github.com/ascend-ai" target="_blank">Ascend.ai</a></p>
    </div>
  </footer>
</div>