<div class="row my-4">
  <!-- Search -->
  <div class="col-5">
    <app-search (search)="onSearch($event)"
                [reset]="false"></app-search>
  </div>
</div>

<div class="row my-4">
  <!-- All products -->
  <div class="col-5">
    <h5>All</h5>
    <div class="border px-3 w-100 pnp-item-container">

      <!-- product item -->
      <app-pnp-item *ngFor="let item of items; let i = index;"
                    [isDisabled]="isItemInAssignedItems(item) || isItemUnderEdit(item)"
                    [init]="item"></app-pnp-item>

    </div>

    <!-- Paginator control -->
    <div class="d-flex justify-content-end align-items-center col-12">
      <div class="fw-lighter">
        {{ pageIndicator }}
      </div>
      <nav>
        <ul class="pagination pagination-lg m-0">
          <li class="page-item"
              title="First"
              [ngClass]="{
                'disabled cursor-disabled': isFirstPage,
                'cursor-pointer': !isFirstPage
              }"
              (click)="goToFirstPage()">
            <a class="page-link">
              <i class="bi bi-chevron-bar-left"></i>
            </a>
          </li>
          <li class="page-item"
              title="Previous"
              [ngClass]="{
                'disabled cursor-disabled': isFirstPage,
                'cursor-pointer': !isFirstPage
              }"
              (click)="goToPreviousPage()">
            <a class="page-link">
              <i class="bi bi-chevron-left"></i>
            </a>
          </li>
          <li class="page-item"
              title="Next"
              [ngClass]="{
                'disabled cursor-disabled': isLastPage,
                'cursor-pointer': !isLastPage
              }"
              (click)="goToNextPage()">
            <a class="page-link">
              <i class="bi bi-chevron-right"></i>
            </a>
          </li>
          <li class="page-item"
              title="Last"
              [ngClass]="{
                'disabled cursor-disabled': isLastPage,
                'cursor-pointer': !isLastPage
              }"
              (click)="goToLastPage()">
            <a class="page-link">
              <i class="bi bi-chevron-bar-right"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- Controller -->
  <div class="col-2 d-flex flex-column justify-content-center pnp-controller">
    <button class="btn btn-link btn-lg"
            [disabled]="!isAnyItemsSelected"
            (click)="addToAssigned()">
      <i class="fa-solid fa-chevron-right"></i>
    </button>
    <button class="btn btn-link btn-lg"
            [disabled]="!isAnyAssignedItemsSelected"
            (click)="removeFromAssigned()">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
  </div>

  <!-- Similar products -->
  <div class="col-5">
    <h5>Assigned</h5>
    <div class="border px-3 w-100 pnp-item-container">

      <!-- product item -->
      <app-pnp-item *ngFor="let item of assignedItems; let i = index;"
                    [init]="item"></app-pnp-item>

    </div>
  </div>
</div>