<div class="row my-4">
  <!-- Search -->
  <div class="col-5">
    <app-search (search)="onSearch($event)"
                [reset]="false"></app-search>
  </div>
</div>

<div class="row my-4">
  <!-- All products -->
  <div class="col-5">
    <h5>All</h5>
    <div class="border px-3 w-100 pnp-item-container">

      <!-- product item -->
      <app-pnp-item *ngFor="let item of items; let i = index;"
                    [isDisabled]="isItemInAssignedItems(item) || isItemUnderEdit(item)"
                    [init]="item"></app-pnp-item>

    </div>

    <app-pagination-controller [paginator]="pagination"
                               (page)="goToPage($event)"></app-pagination-controller>
  </div>

  <!-- Controller -->
  <div class="col-2 d-flex flex-column justify-content-center pnp-controller">
    <button class="btn btn-link btn-lg"
            [disabled]="!isAnyItemsSelected"
            (click)="addToAssigned()">
      <i class="fa-solid fa-chevron-right"></i>
    </button>
    <button class="btn btn-link btn-lg"
            [disabled]="!isAnyAssignedItemsSelected"
            (click)="removeFromAssigned()">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
  </div>

  <!-- Similar products -->
  <div class="col-5">
    <h5>Assigned</h5>
    <div class="border px-3 w-100 pnp-item-container">

      <!-- product item -->
      <app-pnp-item *ngFor="let item of assignedItems; let i = index;"
                    [init]="item"></app-pnp-item>

    </div>
  </div>
</div>