$primary: #FEB5BC;

// Theme
@import '../node_modules/bootswatch/dist/zephyr/variables';
@import '../node_modules/bootstrap/scss/bootstrap';

// Icons
@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-disabled {
  cursor: not-allowed !important;
}
