<div class="container py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center mb-4">
            <span class="text-primary">
              <i class="fa-solid fa-lock"></i> Sign in
            </span>
          </h2>
          <div class="container">
            <form class="needs-validation" 
                  [formGroup]="signinFormGroup"
                  (ngSubmit)="signin()">
              <!-- Email -->
              <div class="form-group my-3">
                <label for="email">Email:</label>
                <input type="text"
                       id="email"
                       class="form-control"
                       [ngClass]="getInputValidationClasses('email')"
                       [formControl]="emailFormControl">
                <ng-container *ngIf="isInputValid('email')">
                  <small class="text-danger"
                         *ngIf="emailFormControl.errors?.['required']">Email is required</small>
                  <small class="text-danger"
                         *ngIf="emailFormControl.errors?.['pattern']">Invalid email</small>
                </ng-container>
              </div>
              <!-- Password -->
              <div class="form-group my-3">
                <label for="password">Password:</label>
                <div class="input-group">
                  <input [type]="showPassword ? 'text' : 'password'"
                         id="password"
                         class="form-control"
                         [ngClass]="getInputValidationClasses('password')"
                         [formControl]="passwordFormControl">
                  <button type="button"
                          class="btn btn-outline-primary"
                          (click)="showPassword = !showPassword;">
                    <i class="bi cursor-pointer"
                       [ngClass]="showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>
                  </button>
                </div>
                
                <ng-container *ngIf="isInputValid('password')">
                  <small class="text-danger"
                         *ngIf="passwordFormControl.errors?.['required']">Password is required</small>
                </ng-container>
              </div>
  
              <!-- Submit -->
              <button class="btn btn-primary"
                      type="submit"
                      [disabled]="signinFormGroup.invalid">
                Submit
              </button>

            </form>
            <div class="text-end mt-2">
              <a class="link-primary"
                 routerLink="../signup">
                Not yet registered?
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
