.banner {
  h1 {
    font-size: 4em !important;
    font-family: "Great Vibes", cursive;
  }
  .banner-img {
    height: 40em;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 450px) {
  .banner {
    h1 {
      font-size: 3em !important;
    }
  }
}

.jw-care-card {
  i {
    font-size: 5em;
  }
}
