<!-- Banner -->
<div class="carousel slide position-relative banner">
  <div class="z-1 position-absolute top-50 start-50 translate-middle d-flex flex-column align-items-center justify-content-center">
    <h1 class="text-white fs-3 fw-bolder">Style For Move</h1>
    <button class="btn btn-primary"
            [class.btn-sm]="isSmallScreenReached"
            (click)="scrollToCategory()">Shop now</button>
  </div>
  <div class="carousel-indicators">
    <button *ngFor="let img of bannerImages; let idx = index;"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            [class.active]="currentBannerImage === img"
            (click)="setBannerImg(idx)">
    </button>
  </div>
  <div class="carousel-inner">
    <div *ngFor="let img of bannerImages; let idx = index;"
         class="carousel-item banner-img"
         [class.active]="currentBannerImage === img"
         [style.backgroundImage]="img | backgroundImage">
    </div>
  </div>
  <button class="carousel-control-prev"
          type="button"
          (click)="previousBannerImg()">
    <span class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next"
          type="button"
          (click)="nextBannerImg()">
    <span class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
  <!-- Shop by category -->
  <section class="my-5" #shopByCategory>
    <h2 class="text-center">Shop by Category</h2>
    <div class="row gy-4 my-2">
      <div class="col-6 col-md-6 col-lg-4"
           *ngFor="let category of categories; let i = index;">
        <app-category-card [categoryName]="category"
                           (filterByCategory)="showProductsOfCategory($event)">
        </app-category-card>
      </div>
    </div>
  </section>

  <!-- Pinned products -->
  <section class="my-5">
    <h2 class="text-center">Our Top Picks</h2>
    <app-product-list [paginator]="pinnedPagination"
                      (page)="switchPage($event, ProductPaginationType.PINNED)"
                      (addToCart)="addProductToCart($event)">
    </app-product-list>
  </section>

  <!-- New release -->
  <section class="my-5">
    <h2 class="text-center">New Release</h2>
    <app-product-list [paginator]="latestPagination"
                      [pageLimit]="2"
                      (page)="switchPage($event, ProductPaginationType.LATEST)"
                      (addToCart)="addProductToCart($event)">
    </app-product-list>
  </section>

  <!-- Best seller -->
  <section class="my-5">
    <h2 class="text-center">Best Seller</h2>
    <app-product-list [paginator]="popularPagination"
                      [pageLimit]="2"
                      (page)="switchPage($event, ProductPaginationType.POPULAR)"
                      (addToCart)="addProductToCart($event)">
    </app-product-list>
  </section>

  <!-- Jewellery Care -->
  <section class="my-5">
    <h2 class="text-center">Jewellery Care</h2>
    <div class="row gy-4 my-2">
      <div class="col-6 col-md-6 col-lg-4"
           *ngFor="let data of JEWELLERY_CARE_DATA; let i = index;">
        <div class="d-flex flex-column align-items-center my-3 jw-care-card">
          <i [class]="data.icon"></i>
          <span class="text-center">{{ data.description }}</span>
        </div>
      </div>
    </div>
  </section>
</div>
