.banner {
  height: 35em;
  background-image: url('/assets/images/home-banner.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top;
  background-size: cover;
}
