<!-- Banner -->
<div class="img-fluid d-flex flex-column align-items-center justify-content-center banner">
  <h1 class="text-white fs-3 fw-bolder">Luxury Unveiled</h1>
  <p class="text-white-50 mb-0">Indulge in Exquisite Jewelry Collections</p>
</div>

<div class="container">
  <!-- Shop by category -->
  <section class="my-5">
    <h2 class="text-center">Shop by Category</h2>
    <div class="row gy-4 my-2">
      <div class="col-md-6 col-lg-4"
           *ngFor="let category of categories; let i = index;">
        <app-category-card [categoryName]="category"
                           (filterByCategory)="showProductsOfCategory($event)">
        </app-category-card>
      </div>
    </div>
  </section>

  <!-- Popular products -->
  <section class="my-5">
    <h2 class="text-center">Popular products</h2>
    <app-product-list [paginator]="pagination"
                      (page)="switchPage($event)"
                      (addToCart)="addProductToCart($event)">
    </app-product-list>
  </section>
</div>

