<!-- Banner -->
<div class="img-fluid d-flex flex-column align-items-center justify-content-center banner">
  <h1 class="text-white fs-3 fw-bolder">Luxury Unveiled</h1>
  <p class="text-white-50 mb-0">Indulge in Exquisite Jewelry Collections</p>
</div>

<div class="container py-5">

  <!-- Shop by category -->
  <div class="row gy-4 my-2">
    <h2 class="text-center">Shop by Category</h2>
    <div class="col-md-6 col-lg-4"
         *ngFor="let categoryName of availableCategories; let i = index;">
      <app-category-card [categoryName]="categoryName"></app-category-card>
    </div>
  </div>

  <!-- Popular products -->
</div>

